
* {
  box-sizing : border-box;
}

html {
  font : 16px serif;
}

@keyframes body--entrance {
  0% {
    opacity : 0;
  }
}

body {
  margin     : 0;
  padding    : 2rem;
  background : #f9fdc4;
  min-width  : 320px;
  animation  : body--entrance .25s ease;
}

#app {
  display     : flex;
  align-items : center;
}

@keyframes app__hero-before--entrance {
  0% {
    height : 100%;
  }
  70% {
    height : 60%;
  }
}

#app__hero::before {
  content    : "";
  position   : absolute;
  bottom     : 0;
  left       : 0;
  right      : 0;
  height     : 0;
  background : #ffffff;
  animation  : app__hero-before--entrance 2s steps(20) .25s backwards;
}

#app__hero {
  position : relative;
}

@keyframes app__hero-img--infinite {
  50% {
    border-color : blue;
  }
}

#app__hero img {
  width     : 256px;
  max-width : 100%;
  border    : 6px double #000000;
  animation : app__hero-img--infinite 1s steps(1) infinite 2s;
}

#app__content {
  padding   : 3rem;
  flex      : 0 1 600px;
  max-width : 100%;
  overflow  : hidden;
}

#app__header {
  font-size : 3rem;
  margin    : 0;
}

#app__subtitle {
  overflow : hidden;
  width    : 375px;
}

@keyframes app__subtitle-text--infinite {
  0% {
    transform : translateX(80%);
  }

  100% {
    transform : translateX(-80%);
  }
}

#app__subtitle-text {
  animation   : app__subtitle-text--infinite 8s steps(50) infinite;
  white-space : nowrap;
  color       : green;
  text-align  : center;
  display     : block;
}

#app__links {
  margin : 0 -.1rem;
}

@keyframes app__links-a--infinite {
  50% {
    color : red;
  }
}

#app__links a {
  animation : app__links-a--infinite 1.5s steps(1) infinite;
  margin    : 0 .1rem;
}

@keyframes app__footer-img--entrance {
  0% {
    visibilitY : hidden;
  }
}

#app__footer-img {
  animation  : app__footer-img--entrance 0s linear 2s backwards;
  margin-top : 2rem;
  max-width  : 100%;
}

@media (max-width : 800px) {
  #app {
    flex-direction  : column;
    justify-content : center;
    text-align      : center;
  }

  #app__content {
    padding : 3rem 0;
  }
}
